{
  "openapi": "3.1.0",
  "info": {
    "title": "NousViz API",
    "description": "**NousViz API** \u2014 operator-facing platform API.\n\n## Authentication\n\nMost endpoints require a session token in the `X-Session-Token` header. Get\none via `POST /api/auth/login`. Some endpoints accept an API key via\n`X-API-Key` instead.\n\n## Where to find what\n\n- [/docs/api](/docs/api) \u2014 interactive native reference (operators)\n- [/openapi.json](/openapi.json) \u2014 raw spec, JSON (tooling, generated SDK clients)\n- [/openapi.yaml](/openapi.yaml) \u2014 same spec, YAML-encoded (LLM context, PR diffs)\n- SDK reference \u2014 `docs/sdk-reference.md` *(arrives in v0.9.7.4)*\n\n## Plugin routes\n\nPlugins can register their own HTTP routes. By default these are NOT shown\nhere (the spec only documents the **platform** API, not individual plugins).\nPlugin authors can opt in by setting `openapi_public: true` in their\n`plugin.yaml`.\n\n## Versioning\n\nThe platform is pre-1.0. Breaking changes are documented in the\n[CHANGELOG](https://github.com/nousviz/nousviz-app/blob/main/CHANGELOG.md).\n",
    "contact": {
      "name": "NousViz",
      "url": "https://github.com/nousviz/nousviz-app"
    },
    "license": {
      "name": "Sustainable Use License v1.0",
      "url": "https://github.com/nousviz/nousviz-app/blob/main/LICENSE"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nousviz.online",
      "description": "Production"
    },
    {
      "url": "http://localhost:8000",
      "description": "Local development"
    }
  ],
  "paths": {
    "/api/query": {
      "post": {
        "tags": [
          "query"
        ],
        "summary": "Execute Query",
        "description": "Execute a read-only SQL query against the specified engine.",
        "operationId": "query.execute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "List installed plugins",
        "description": "List only active (installed) plugins \u2014 used by the Installed Plugins page and sidebar.\n\nB144 (v0.9.2.4): each entry carries an `update_status` block from the\nplugin_update_status cache. Stale entries (older than ~1h) trigger a\nfire-and-forget refresh in the background so the next call sees fresh\ndata. The current call doesn't block on the network check.\n\nKeystone B (Phase 12 perf, v0.10.0.5.6): the catalog + last-sync\nlookups that `_enrich_datasets` used to fire per-plugin are now\npre-fetched in two batched calls before the loop. Drops `/api/plugins`\nDB round trips from ~6N to ~3 for the enrichment block alone.\n\nB305 (v0.10.0.6): the result list is filtered through\n`rbac.filter_plugins_for_user` so a viewer/analyst with a per-user\nallowlist (resource_acls rows for resource_type='plugin') sees only\ntheir permitted set + utilities. Admins/superadmins bypass.",
        "operationId": "plugins.list",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/audit-log": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Recent plugin lifecycle events (install/uninstall/update/etc.)",
        "description": "View plugin audit log entries.",
        "operationId": "plugins.audit_log",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Plugin Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginAuditLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the system.audit permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/capabilities": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Capabilities registered by installed utility plugins",
        "description": "Return registered capabilities from installed utility plugins.",
        "operationId": "plugins.capabilities",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginCapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/catalog": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Full plugin catalog for the Marketplace page",
        "description": "Full plugin catalog \u2014 official + installed + community, with installed flag.\nUsed by the Marketplace page.\n\nPriority: installed/ and community/ win over official/ stubs for the same\nplugin slug \u2014 the installed copy has richer metadata and is the live version.\nOfficial stubs only appear in the catalog when the plugin is not installed.\n\nP20b: merges install_count, featured, listed, pricing_model from plugin_registry.\nPlugins with listed=false are excluded. Sorted: featured first, then by install_count desc.",
        "operationId": "plugins.catalog",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginCatalogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Get a plugin's full manifest with module merges + predicate resolution",
        "description": "Get full plugin manifest, with enabled module manifests merged in.\n\nv0.8.6: also resolves P119 action predicates and P121 checklist\npredicates server-side so the frontend can render without further\nround trips.\n\nv0.9.0 (P204): includes `load_status` reflecting whether the\nplugin's api/routes.py loaded successfully at API startup. If false,\n`failure_reason` explains why (ModuleNotFoundError, SyntaxError, etc).",
        "operationId": "plugins.detail",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginEntry"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/dashboards/{dashboard_name}": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Get a plugin dashboard spec (YAML, returned verbatim)",
        "description": "Get a dashboard spec for rendering. Searches parent dashboards/ first, then enabled modules.",
        "operationId": "plugins.dashboard",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          },
          {
            "name": "dashboard_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dashboard Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginYamlResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Dashboard not found in plugin or its enabled modules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/datasets/{dataset_name}": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Get a plugin dataset schema (YAML, returned verbatim)",
        "description": "Get a dataset schema.",
        "operationId": "plugins.dataset",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          },
          {
            "name": "dataset_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Dataset Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginYamlResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found in plugin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/install/test": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Pre-install repo connectivity probe (clone + read manifest)",
        "description": "Test connectivity to a private repo before installing. Probe-clones and reads manifest.",
        "operationId": "plugins.install.test",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PluginInstallRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstallTestResponse"
                }
              }
            }
          },
          "400": {
            "description": "repository_url required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission, or SSH auth failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Repository not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "502": {
            "description": "Clone failed (network/repo error).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/install": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Install a plugin",
        "description": "Install a plugin. Three-tier source resolution (P19):\n\n- Tier 1 (official): no repository_url \u2014 clones github.com/nousviz/plugin-{slug}\n- Tier 2 (community): no repository_url \u2014 reads URL from plugins/community/{slug}/plugin.yaml\n- Tier 3 (private): explicit repository_url in request body\n\nIdempotent if already installed. Restart the API after installing to activate routes.\n\nSecurity (P22):\n- Rate limited: 5 installs per 5 minutes per IP (G3)\n- Git clone pins to declared version tag (G2) \u2014 refuses HEAD installs\n- pip runs with a sanitised environment \u2014 no NOUSVIZ_* vars exposed (G5)\n- repository_url validated against SSRF blocklist (P19)",
        "operationId": "plugins.install",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PluginInstallRequest"
                  },
                  {
                    "type": "null"
                  }
                ],
                "title": "Body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginInstallResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "429": {
            "description": "Rate-limited (5 installs / 5 min per IP).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "503": {
            "description": "nousviz_sdk not importable in the API runtime.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "plugins"
        ],
        "summary": "Uninstall a plugin (with optional dependent cascade)",
        "description": "Uninstall a plugin.\n\n- remove_data=true: run down migrations to drop plugin tables before removal\n- remove_references=true (B281, v0.9.11.21): auto-clean orphaned\n  references \u2014 delete annotations pinned to the plugin, delete\n  shares pointing at /plugin/<id>/*, strip the plugin slug from\n  fusion `requires` arrays. Alert rules are left alone (Phase 2).\n- cascade=true: also uninstall all plugins that depend on this one\n\nReturns has_dependents status if dependents exist and cascade=false \u2014\nthe frontend should prompt the user to confirm cascade or cancel.",
        "operationId": "plugins.uninstall",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          },
          {
            "name": "remove_data",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Remove Data"
            }
          },
          {
            "name": "remove_references",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Remove References"
            }
          },
          {
            "name": "cascade",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Cascade"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginUninstallResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/uninstall-check": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Pre-uninstall info for the confirmation modal",
        "description": "Return information needed to render the uninstall confirmation modal:\n- dependents: installed plugins that depend on this one (via `requires.{capability}`)\n- tables: Postgres/ClickHouse tables owned by this plugin\n- data_dirs: filesystem data directories (mainly for utility plugins)",
        "operationId": "plugins.uninstall_check",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UninstallCheckResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/updates": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Bulk update status for every installed plugin (B144 cache)",
        "description": "Bulk fetch cached update status for every installed plugin.\n\nStale entries (older than ~1h) get a fire-and-forget refresh kicked\noff in the background so the UI sees fresh data on the next poll.",
        "operationId": "plugins.updates.list",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginUpdatesListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/check-update": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Force a synchronous update check for one plugin",
        "description": "Synchronously check this plugin for an available update.\n\nUse when the operator clicks an explicit \"Check now\" affordance, or\nwhen the cached status says no-update but the operator wants to force\na re-check after pushing a new version upstream.",
        "operationId": "plugins.check_update",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginUpdateInfo"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/update": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Atomic-swap update to the latest version (B145)",
        "description": "Update an installed plugin to the latest version from its source.\n\nAtomic-swap design (B145): the new code is cloned to a staging directory\nfirst, validated, then atomically swapped with the live install. If\nanything fails before the swap, the live install is untouched. If the\npost-swap idempotent steps (migrations, grants) fail, the previous live\ninstall is restored from a sibling backup.\n\nCredentials, settings, and synced data are preserved across the swap\n(DB tables are not dropped). The plugin briefly becomes unavailable\nwhile PM2 reloads to pick up the new routes.",
        "operationId": "plugins.update",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginUpdateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Cannot determine update source.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/alerts/{alert_name}": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Get a plugin alert definition (YAML, returned verbatim)",
        "description": "Get an alert definition.",
        "operationId": "plugins.alert",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          },
          {
            "name": "alert_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Alert Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginYamlResource"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Alert not found in plugin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/settings": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Read a plugin's saved settings",
        "description": "Return current saved settings for a plugin.",
        "operationId": "plugins.settings.get",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginSettingsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Upsert a plugin's settings",
        "description": "Upsert settings for a plugin. Each key/value pair stored as a separate row.",
        "operationId": "plugins.settings.set",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PluginSettingsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginSettingsSaveResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Setting key not declared in the plugin manifest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/modules": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "List a plugin's modules with enabled state",
        "description": "List modules for a plugin with their enabled state.",
        "operationId": "plugins.modules.list",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginModulesListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/modules/{module_name}/enable": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Enable a plugin module (runs migrations, grants tables)",
        "description": "Enable a plugin module.",
        "operationId": "plugins.modules.enable",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          },
          {
            "name": "module_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Module Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginModuleToggleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Module not found in plugin.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/modules/{module_name}/disable": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Disable a plugin module (data preserved)",
        "description": "Disable a plugin module. Data is preserved.",
        "operationId": "plugins.modules.disable",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          },
          {
            "name": "module_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Module Name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginModuleToggleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/connections": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Read a plugin's connection config (secrets masked)",
        "description": "Return connection config for a plugin including module connections. Masks secrets.",
        "operationId": "plugins.connections.get",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginConnectionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Save plugin connection config + run health hook",
        "description": "Save connection config for a plugin. Secrets \u2192 encrypted DB. Non-secrets \u2192 .env.",
        "operationId": "plugins.connections.set",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginConnectionsSaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Plugin has no connection config declared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/sync/status": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Sync status snapshot for the unified Sync card (B205)",
        "description": "Sync status snapshot for the unified Sync card (B205, v0.9.6).\n\nReturns:\n    current: most recent run with status IN ('queued','running','cancelling'),\n        including live progress JSONB and elapsed seconds. None when idle.\n    last_success: most recent successful run.\n    last_failure: most recent failed run (error/timeout/cancelled).\n    last_sync: ISO timestamp of last_success.completed_at \u2014 kept for\n        backward compatibility with pre-v0.9.6 frontend code.\n\nThe legacy plugin_settings._last_sync fallback is removed in v0.9.6 \u2014\njob_runs is the single source of truth.",
        "operationId": "plugins.sync_status",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/sync-schedule": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Composite read of manifest + override + scheduler state",
        "description": "Composite read: manifest cron + override cron + scheduler registry state.\n\nUsed by the Settings tab's schedule override block (B148).",
        "operationId": "plugins.sync_schedule.get",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncScheduleGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Write or clear the per-plugin schedule override",
        "description": "Write a per-plugin schedule override.\n\nBody forms (mutually exclusive):\n  {\"cron\": \"0 */12 * * *\"}                 raw cron\n  {\"interval_value\": 15, \"interval_unit\": \"minutes\"}  friendly form\n  {\"cron\": null} or {\"cron\": \"\"}           clear override\n\nThe scheduler observes the change on its next poll (within ~30s).\nTo make the change visible immediately, we delete the registry row;\nthe scheduler re-creates it on next poll with the new effective cron.",
        "operationId": "plugins.sync_schedule.set",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncScheduleBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncScheduleSetResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid cron, invalid interval, or both forms supplied.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/frontend-components": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Plugin's declared React components + trust state (B151)",
        "description": "List a plugin's declared frontend components and their trust state.\n\nPublic-ish: any logged-in user can read (the frontend needs this at boot\nto know which components to dynamically import). Doesn't expose secrets.",
        "operationId": "plugins.frontend_components",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginFrontendComponentsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "500": {
            "description": "Failed to read manifest.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/trust-frontend": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Operator consent: trust this plugin's React components",
        "description": "Operator consent: set plugin_settings._trust_frontend = true.\n\nRequired before the frontend will dynamically import this plugin's\ndeclared React components. Audited via plugin_audit_log so revocation\nhistory is queryable.",
        "operationId": "plugins.trust_frontend",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustFrontendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Plugin declares no frontend.components.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/revoke-frontend-trust": {
      "post": {
        "tags": [
          "plugins"
        ],
        "summary": "Operator revoke: clear plugin frontend trust",
        "description": "Operator revoke: clear plugin_settings._trust_frontend.\n\nIdempotent \u2014 calling on an already-untrusted plugin returns success.",
        "operationId": "plugins.revoke_frontend_trust",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokeFrontendTrustResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.install permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/widget/{filename}": {
      "get": {
        "tags": [
          "plugins"
        ],
        "summary": "Serve a plugin's bundled JS widget asset",
        "description": "Serve a plugin's bundled JS widget file.\n\nRefuses unless:\n  - Plugin exists + has a manifest\n  - Plugin is trusted (operator consented via /trust-frontend)\n  - Filename matches a declared component's path basename\n  - File exists on disk inside the plugin dir\n  - Resolved path is contained within the plugin dir (no traversal)",
        "operationId": "plugins.widget_asset",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          },
          {
            "name": "filename",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Filename"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Widget JS bundle.",
            "content": {
              "application/json": {
                "schema": {}
              },
              "application/javascript": {}
            }
          },
          "400": {
            "description": "Invalid filename (must be `[A-Za-z0-9._-]+\\.js`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Plugin frontend not trusted by operator.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin not installed or filename not declared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Overall instance health",
        "description": "Overall health check for the NousViz instance.\n\nPublic endpoint (no auth required) \u2014 this is the same shape used by\nload balancers and the operator dashboard. The response is intentionally\nnested: `services.postgres` reports DB connectivity and critical-table\npresence, `runtime.sdk` reports whether `nousviz_sdk` imported, and\n`stats` carries operator-dashboard counts.\n\nTop-level `status` flips to `degraded` when Postgres reports degraded,\nthe SDK is unavailable, or critical tables are missing. Frontend\n`evaluateChecks` drives banner display from this shape \u2014 additive\nchanges here are safe; renaming or removing fields will break the UI.",
        "operationId": "health.check",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/config": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Boolean status of security-sensitive config",
        "description": "Return boolean status of security-sensitive config values.\n\nPublic endpoint (no auth required) \u2014 this is what the dashboard\nconfig-banner reads to decide whether to nudge the operator about\nmissing encryption keys, missing superadmin user, SMTP config, etc.\n\n**Never exposes actual values** \u2014 only whether they are set and\nnon-default. The `update_*` fields surface a once-per-hour-cached\nGitHub release check so operators can see the \"update available\"\nbanner without polling the GitHub API on every request.",
        "operationId": "health.config",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/connections": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Plugin connection health issues",
        "description": "Banner-shaped list of plugin connection-health issues.\n\nEach entry carries a plugin id, severity, message, and optional\nstructured detail \u2014 the UI renders each as a banner on the home\ndashboard. An empty list means all installed plugins report healthy\nconnections.\n\nPlugins will register their own health checks via `plugin_registry`\nin a future release; the current implementation always returns no\nissues.",
        "operationId": "health.connections",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectionHealthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the system.logs permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/log": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Recent health-check snapshots from health_log",
        "description": "Return health check history from the health_log table.",
        "operationId": "health.log",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 7,
              "title": "Days"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 200,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthLogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the system.logs permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/health/record": {
      "post": {
        "tags": [
          "health"
        ],
        "summary": "Run a health check + persist to health_log (PM2 cron + manual refresh)",
        "description": "Run a health check and store the result in health_log.\n\nAccepted from:\n- localhost (PM2 cron on the same box) \u2014 unlimited rate\n- authenticated requests (session token, API key, or Cloudflare) \u2014 lets\n  an operator force a fresh check from the browser via the Refresh button\n  on /health-overview. Rate-limited per-IP.",
        "operationId": "health.record",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthRecordResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Health record requires localhost or authenticated access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "429": {
            "description": "Rate-limited (10/min per IP, localhost exempt).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "500": {
            "description": "Health record failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/ssl/setup": {
      "post": {
        "tags": [
          "health"
        ],
        "summary": "Provision Let's Encrypt SSL via the ssl-setup.sh script",
        "description": "Run SSL setup from the UI. Calls ssl-setup.sh as subprocess.\nOnly Let's Encrypt is supported (requires a domain).",
        "operationId": "admin.ssl.setup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SslSetupRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SslSetupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid mode/domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the system.admin permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "500": {
            "description": "ssl-setup.sh missing or invocation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/sync": {
      "post": {
        "tags": [
          "sync"
        ],
        "summary": "Trigger Sync",
        "description": "Trigger a plugin sync manually.\n\nB205 (v0.9.6): always async. Manifest `execution_mode` is honored for\nscheduled runs (the scheduler dispatches them) but ignored here \u2014\nmanual triggers always enqueue and return immediately so the HTTP\nrequest never blocks on subprocess execution. The unified Sync card\non the plugin Settings tab polls /sync/status for live progress.\n\nReturns 409 Conflict when an active run already exists (status in\nqueued/running/cancelling). Body shape on 409:\n    {\"detail\": {\"run_id\": <existing>, \"status\": <status>,\n                \"already_running\": true}}\nFrontend swaps to the live progress view in this case rather than\nenqueueing a duplicate.",
        "operationId": "plugins.sync",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRequest",
                "default": {
                  "mode": "incremental"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/setup": {
      "post": {
        "tags": [
          "sync"
        ],
        "summary": "Run a plugin's setup_schema.py script (60s timeout)",
        "description": "Run the plugin's schema setup script.\n\nSynchronous (not part of the async sync pipeline) \u2014 the response\nblocks until the subprocess exits or the 60s timeout fires. The\nplugin's environment is sanitised by `plugin_subprocess.plugin_sync_env`.",
        "operationId": "plugins.setup",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginScriptRunResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin has no setup_schema.py.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "500": {
            "description": "Subprocess raised before producing output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/plugins/{plugin_id}/health-check": {
      "post": {
        "tags": [
          "sync"
        ],
        "summary": "Run a plugin's health_check.py script (30s timeout)",
        "description": "Run the plugin's health check script.\n\nSynchronous \u2014 the response blocks until the subprocess exits or\nthe 30s timeout fires. The plugin's environment is sanitised by\n`plugin_subprocess.plugin_sync_env`.",
        "operationId": "plugins.health_check",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Plugin Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginScriptRunResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the plugins.configure permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Plugin has no health_check.py.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "500": {
            "description": "Subprocess raised before producing output.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations": {
      "get": {
        "tags": [
          "annotations"
        ],
        "summary": "List annotations (pinned-first; rich filter set)",
        "operationId": "annotations.list",
        "parameters": [
          {
            "name": "plugin_id",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Plugin Id"
            }
          },
          {
            "name": "dataset",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Dataset"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Category"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Date From"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Date To"
            }
          },
          {
            "name": "semantic_score",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Semantic Score"
            }
          },
          {
            "name": "pinned",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Pinned"
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Include Archived"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "default": 200,
              "title": "Limit"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the annotations.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "annotations"
        ],
        "summary": "Create an annotation (writes a 'created' history snapshot)",
        "operationId": "annotations.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnotationCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationRow"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the annotations.write permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/annotations/{annotation_id}": {
      "get": {
        "tags": [
          "annotations"
        ],
        "summary": "Get a single annotation",
        "operationId": "annotations.detail",
        "parameters": [
          {
            "name": "annotation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotation Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationRow"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the annotations.read permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Annotation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "annotations"
        ],
        "summary": "Update an annotation (writes an 'updated' history snapshot)",
        "operationId": "annotations.update",
        "parameters": [
          {
            "name": "annotation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotation Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnotationUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationRow"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the annotations.write permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Annotation not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "annotations"
        ],
        "summary": "Delete an annotation (soft by default; permanent=true to hard-delete)",
        "operationId": "annotations.delete",
        "parameters": [
          {
            "name": "annotation_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Annotation Id"
            }
          },
          {
            "name": "permanent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false,
              "title": "Permanent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnnotationDeleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid session token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorDetail"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the annotations.write permission.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RBACErrorDetail"
                }
              }
            }
          },
          "404": {
            "description": "Annotation not found.",
            "content": {
              "application/json": {
                "schema": {
[...]
